/* GENEREAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */

header {
  height: 70px;
  background-color: #FF6900;
  display: flex;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .gender ul {
  list-style: none;
  display: flex;
}

header .container .gender a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  font-weight: bold;
}

header .container img {
  width: 135px;
}

header .container .icon {
  width: 66px;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* MAIN */

main .container .clothes {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}

main .container .clothes img {
  height: 500px;
}

main .container .clothes .sec {
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  padding-left: 25px;
}

.heart {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 40px;
}

main .container .clothes:hover .sec {
  display: block;
}

main .container .clothes .discount {
  background-color: red;
  position: absolute;
  padding: 5px;
  bottom: 140px;
  left: 10px;
  display: inline-block;
  color: white;
}

main .container .clothes .green {
  background-color: green;
  padding: 5px;
  position: absolute;
  bottom: 140px;
  left: 75px;
  color: white;
}

main .container .clothes .solo.green {
  position: absolute;
  left: 10px;
  bottom: 120px;
}

.brand {
  display: flex;
  padding-bottom: 5px;
}

h4 {
  display: flex;
  padding-bottom: 5px;
}

.price {
  position: absolute;
  left: 0;
  color: red;
  font-weight: bold;
}

.canceled {
  display: flex;
  padding-left: 60px;
  text-decoration: line-through;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #1A1A1A;
}

footer .container {
  border: 1px solid white;
  position: relative;
}

footer .container .company {
  color: white;
  font-weight: bold;
  padding-top: 25px;
}

footer .container ul {
  list-style: none;
  padding-top: 10px;
}

footer .container ul li {
  display: inline-block;
}

footer .container a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
}

.where {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  position: absolute;
  right: 8px;
  top: 30px;
  
}
.social {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 0px;
  top: 53px;
}